:root {
    --color-primary: #4B69FD;
    --color-paleta1: #5F0F40;
    --color-paleta2: #3F7CAC;
    --color-paleta3: #EE8434;
    --color-paleta4: #50D8D7;
    --color-paleta5: #F51AA4;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.header-banner {
    position: relative; /* Agora serve como referência */
    width: 100vw; /* Garante que sempre ocupe a largura total */
    height: 100vh; /* Garante que sempre ocupe a altura total */
    overflow: hidden;
}

.header-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém a proporção e preenche a tela */
}

.img-container {
    position: relative;
    width: 100%;
    height: auto;
}

.img-container img {
    width: 100%;
    height: auto;
    display: block;
}

.img-container button {
    position: absolute;
    top: 41.6%;  /* 600 / 1440 (altura original) */
    left: 44.6%; /* 600 / 1440 (largura original) */
    transform: translate(-50%, -50%);
    width: 10%;
    height: 10%;
    border: none;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}



/* Seção de entrada */
.input-section {
    position: absolute; /* Posiciona o título de forma absoluta */
    top: 45vh; /* Move o título para 50% da altura do container */
    left: 50vw; /* Move o título para 50% da largura do container */
    transform: translate(-50%, -50%); /* Ajusta o posicionamento para centralizar exatamente */
    z-index: 9; /* Garante que o título fique sobre a imagem */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Reduz o padding */
    width: auto; /* Define a largura como automática (ajusta ao conteúdo) */
    max-width: 100%; /* Limita a largura máxima para evitar que ocupe toda a tela */
    max-height:100%;
}

/* Títulos */
.main-title {
    position: absolute; /* Posiciona o título de forma absoluta */
    top: 10vh; /* Move o título para 50% da altura do container */
    left: 50vw; /* Move o título para 50% da largura do container */
    transform: translate(-50%, -50%); /* Ajusta o posicionamento para centralizar exatamente */
    z-index: 2; /* Garante que o título fique sobre a imagem */
    font-size: 4vw;
    font-family: "Roboto", "Arial", sans-serif;;
    padding: 0px 10px;
    color: var(--color-white);
    border-radius:25px;
    text-shadow:
      1px 1px 0 #000,
      -1px 1px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000;
}

.section-title {
    font-family: "Roboto", "Arial", sans-serif;;
    font-size: 2vw;
    font-weight: 700;
    margin: 2vh 0;
    text-align: center;
    padding: 10px 90px;
    color: var(--color-white);
    background-color: var(--color-paleta5);
    border-radius:25px;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    position: relative;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000; /* Cor da borda padrão */
    border-radius: 25px 0 0 25px;
    font-family: "Roboto", "Arial", sans-serif;;
    font-size: 22px;
    color: #93999e;
    transition: color 0.3s ease, border-color 0.3s ease; /* Adiciona uma transição suave */
}

.input-name:hover {
    border-color: #ffffff; /* Cor da borda ao passar o mouse */
}

.input-name:focus {
    border-color: #ffffff; /* Cor da borda ao focar no campo */
    outline: none; /* Remove o contorno padrão (opcional) */
}

.button-container {
    width: 300px;
    justify-content: center;
    position: relative;
}

/* Estilos do botão "Adicionar" */
.button-add {
    position: absolute; /* Posicionamento absoluto em relação ao container "pai" */
    top: 50%; /* Centraliza verticalmente */
    left: 92%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta o posicionamento exato */
    background-color: var(--color-paleta5); /* Cor rosa */
    color: var(--color-white);
    border-radius: 0 25px 25px 0;
    padding: 17px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid var(--color-paleta5);
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Roboto", "Arial", sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: border-color 0.3s ease; /* Adiciona uma transição suave */
}

/* Estilos específicos para o botão "Adicionar" */
.button-add {
    background-color: var(--color-paleta5); /* Cor rosa */
    color: var(--color-white);
    border-radius: 0 36px 26px 0;
}

.button-add:hover {
    border-color: #000000; /* Cor da borda ao passar o mouse */
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-white);
    font-family: "Inter", sans-serif;
    font-size: 28px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: var(--color-paleta4);
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-paleta5);
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
}

.button-draw:hover {
    background-color: var(--color-paleta5);
    border-color:#F51AA4
}

.button-draw img {
    margin-right: 40px;
}

/* Estilo para o nome sorteado */
.result-list li {
    font-size: 24px;
    font-weight: bold;
}

/* Estilo para a mensagem aleatória */
.result-list .mensagem-aleatoria {
    font-size: 18px; /* Tamanho da fonte da mensagem */
    color: var(--color-white); /* Cor da mensagem (branca) */
    margin-top: 10px; /* Espaçamento acima da mensagem */
}

#botaoReset {
    display: block; /* Mantém o botão sempre visível */
    position: relative;
    padding: 10px 30px;
    left: 37%;
    background-color: var(--color-white);
}

.total-participantes {
    font-size: 1.2em;
    font-weight:bold;
    color: #32f0f0;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    text-shadow:
      1px 1px 0 #000,
      -1px 1px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000;
    text-align:center;
    
}